.price {
  color: #ef980f;
  font-size: x-large;
  font-weight: bold;
  padding-top: 10px;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}
@media (max-width: 992px) {
  .container {
    max-width: 75%;
  }
}
@media (max-width: 1200px) {
  .col.xl {
    max-width: 75%;
  }
}
